#experience {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    #30415a 0%,
    #1F2232 100%
  );
  color: $white-color;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 15%;
  margin-bottom: -20rem;
  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
  @include respond(phone) {
    -webkit-clip-path: none;
    clip-path: none;
    padding-bottom: 5rem;
    margin-bottom: 0;
  }

  .experience-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      width: 100%; // Ensure image does not overflow
      @include respond(phone) {
        margin-bottom: 2rem; // Add margin for spacing
      }
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
      @include respond(tab-land) {
        height: 100%;
      }
      @include respond(tab-port-sm) {
        padding-bottom: 4rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      width: 100%; // Ensure info does not overflow
      text-align: left;
      @include respond(tab-port-sm) {
        align-items: center;
        text-align: left;
      }
    }

    &__text {
      width: 100%;
      text-align: left;
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }
      @include respond(phone) {
        margin-bottom: 2.5rem;
      }
      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;
        @include respond(phone) {
          font-size: 2rem;
        }
      }

      &-info {
        margin-bottom: 1.5rem;
      }

      &-btns {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
}
.experience-wrapper__info-text {
  list-style-type: disc; /* or any other style you prefer */
  padding-left: 20px;
  margin-bottom: 20px;
}

.experience-wrapper__info-text li {
  margin-bottom: 10px;
  font-size: 1.6rem;
}